# ==========================================
# SAP WebSocket RFC (Secure TLS / WSS mode)
# ==========================================

# SAP Server Info
SAP_WSHOST=
SAP_WSPORT=4300           # or 4300 (check in SMICM -> Services)
SAP_CLIENT=
SAP_USER=
SAP_PASSWORD=
SAP_LANG=EN

# TLS / Crypto Configuration
SAP_CRYPTO_LIB=C:\\sap\\cryptolib\\sapcrypto.dll
SAPSSL_PSE=C:\\sap\\cryptolib\\sec\\SAPSSLS.pse
SAPSSL_PSE_PIN=Loveme22@

# Optional: Debug log level
NODE_RFC_TRACE=3
